{% extends 'elektromer_app/base.html' %}
	{% load static %}
	{% block content %}
	



<container>

<div class="container" style=" min-width: 90vw;">

<br><br>

<div class="container" style="min-width: 80vw;">
<br><br><br>
	<h1>GSM modul</h1>

<a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#gsmModal" title="Timto tlačítkem můžete přidat gsm modul." href=''>&nbsp; Přídat GSM modul &nbsp;</a></td>

<br><br>

<div class="modal" id="gsmModal" tabindex="-1">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Přidat GSM modul </h5>
       
      </div>
      <form id="solar_form" action='{% url "gsm_modul_add" %}' enctype="multipart/form-data" method="POST">
      	<div class="modal-body">
     {% load crispy_forms_tags %}
	
	{% csrf_token %}

    {{ form|crispy}}
	 
      <button type="submit" class="btn btn-success">Uložit</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss='modal'>Zrušit</button>
  </div>
</form>
    </div>
  </div>
</div>


	<center>
		<div class="tabulka">

			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">SVJ</th>
			      <th scope="col">Datum zapojení</th>
			      <th scope="col">Datum ukončení</th>
			      <th scope="col">ID</th>
			      <th scope="col">Informace</th>
			      
			     
			    </tr>
			  </thead>
			  <tbody>
			  	{% for gsm_modul in all_gsm_moduls %}
			    	<tr>
				      <td scope="row"><b>{{gsm_modul.identification_number}}</b></td>
				      <td>{{gsm_modul.from_date}}</td>
				      {% if gsm_modul.to_date == None %}
				      <td class="aktivni" style="color: green;"> aktivní </td>
				      {% else %}
				      <td class="ukoncene" style="color: red;">{{gsm_modul.to_date}}</td>
				      {% endif %}
				      <td>{{gsm_modul.svj}}</td>


				       <td><a type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení tohoto gsm modulu." href='{% url "gsm_modul" gsm_modul.id %}'>&nbsp;Zobrazit &nbsp;</a></td>

				      
			    	</tr>
			    {% endfor %}
			  </tbody>
			</table>
    	</div>
	</center>
</div>
<container>

	{% endblock %} 