{% extends 'elektromer_app/base.html' %}
	{% load static %}
	{% block content %}

	<container>

<div class="container" style=" min-width: 90vw;">

<br><br>
<h1>Přehled Vyúčtování</h1>
<br><br><br>

	<center>
		<div class="tabulka">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">xxxxx</th>
			      <th scope="col">xxxxx</th>
			      <th scope="col">xxxxx</th>
			      <th scope="col">xxxxx</th>
			      <th scope="col">xxxxx</th>
			      <th scope="col">xxxxx</th>
			      
			      
			    </tr>
			  </thead>
			  <tbody>
			  	
			    	<tr>
			    		
				      <td><b>xxxx</b></td>
				      <td>xxxx</td>
				      
				      <td>xxxx</td>
				      <td>xxxx</td>
				      <td>xxxx</td>
    				
    				
				    
			    	</tr>
			  
			  </tbody>
			</table>
    	</div>
	</center>
	</div>
<container>
	{% endblock %} 