 {% extends 'elektromer_app/base.html' %}
    {% load static %}
    {% block content %}
    
    
 <container>

    <div class="container" style=" min-width: 90vw;">

<br><br>
<div class="container" style="min-width: 80vw;">
<br><br><br>


 <h1>Kalendář</h1>
  
    <a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#eventModal"title="Timto tlačítkem můžete přidat událost do kalendáře."> &nbsp; Přídat událost &nbsp;</a></td>
  

<div class="modal" id="eventModal" tabindex="-1">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Přidat událost do kalendáře </h5>
       
      </div>
      <form id="solarform" action='{% url "calendar_event_add" %}' enctype="multipart/form-data" method="POST">
        <div class="modal-body">
     {% load crispy_forms_tags %}
    
    {% csrf_token %}

    {{ form|crispy }}
     
      <button type="submit" class="btn btn-success">Uložit</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss='modal'>Zrušit</button>
  </div>
</form>
    </div>
  </div>
</div>
    
   <br><br><br> 
  <ul>
        {% for event in events %}
            <li>{{event.name}}<br>{{ event.day }}: {{ event.start_time }} : {{event.end_time}}
            <br>{{event.notes}}</li><br><br>
        {% endfor %}
    </ul>







  {% endblock %}