{% extends 'elektromer_app/base.html' %}
	{% load static %}
	{% block content %}
	
	

<container>

	<div class="container" style=" min-width: 90vw;">

<br><br>
	<h1>Byt</h1>


	<center>
		<div class="tabulka">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Byt č.</th>
			      <th scope="col">Datum zapojení</th>
			      <th scope="col">SVJ</th>
			      <th scope="col">Gsm modul</th>
			      <th scope="col">Majitel</th>
			      <th scope="col">Majitel od</th>
			      <th scope="col">Majitel do</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			  	{% for flat in all_flats %}
			    	<tr>
				      <th scope="row">{{flat.flat_number}}</th>
				      <td>{{flat.from_date}}</td>
				      <td>{{flat.svj}}</td>
				      <td>{{flat.gsm_modul}}</td>
				      <td>{{flat.owner}}</td>
				       <td>{{flat.owner_from_date}}</td>
				       {% if flat.owner_to_date == None %}
				      <td class="aktivni" style="color: green;"> je majitel </th>
				      {% else %}
				      <td class="ukoncene" style="color: red;">{{svj.to_date}}</td>
				      {% endif %}


			    	</tr>
			    {% endfor %}
			  </tbody>
			</table>
    	</div>
	<center>
<container>


	{% endblock %} 