<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IP Elektroměr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Přehledy</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'svjs' %}">SVJ</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Byty</a>
          </li>
       

                  <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Uživatelé</a>
          </li>
     
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Přístroje
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="{% url 'main_electrometers' %}">Hlavní elektroměry</a></li>
              <li><a class="dropdown-item" href="#">Podružné elektroměry</a></li>
              <li><a class="dropdown-item" href="#">Solární elektroměry</a></li>
              <li><a class="dropdown-item" href="#">Gsm moduly</a></li>
           
          
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Správa
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Kalendář</a></li>
              <li><a class="dropdown-item" href="#">Úkoly</a></li>
              <li><a class="dropdown-item" href="#">Notifikace</a></li>
              <li><a class="dropdown-item" href="#">Zprávy</a></li>

              <li><a class="dropdown-item" href="#">Oprávnění</a></li>
              <li><a class="dropdown-item" href="#">Pozvánky k registraci</a></li>
           
          
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Vyúčtování</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Nastavení</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Odhlásit</a>
          </li>


        </ul>
        <br><br>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>