<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>IP ELEKTROMER</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'svjs' %}">Všechna SVJ</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customers' %}">Zákazníci</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gsm_moduls' %}">GSM-moduly</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flats' %}">Byty</a>
        </li>
        

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Elektroměry
          </a>

         <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'main_electrometers' %}">Hlavní-elektroměry</a></li>
          <li><a class="dropdown-item" href="{% url 'sub_electrometers' %}">Podružné-elektroměry</a></li>
          <li><a class="dropdown-item" href="{% url 'solar_electrometers' %}">Solární-elektroměry</a></li>
        </ul>
        </li>
       

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Stavy elektroměrů
        </a>

       <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'balances_main' %}">Stav Hlavní-elektroměry</a></li>
        <li><a class="dropdown-item"  href="{% url 'balances_sub' %}">Stav Podružné-elektroměry</a></li>
        <li><a class="dropdown-item" href="{% url 'balances_solar' %}">Stav Solární-elektroměry</a></li>
      </ul>
      </li>
        
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vyúčtování
        </a>

       <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'overview' %}">Přehled vyúčtování</a></li>
        <li><a class="dropdown-item"  href="{% url 'count' %}">Vytvořit vyúčtování</a></li>
        
      </ul>
      </li>
      

      </ul>
      <span class="navbar-text">
        Uživatel: Janek Dobrovodský
      </span>

    </div>
  </div>
</nav>
