{% extends 'elektromer_app/base.html' %}
	{% load static %}
	{% block content %}

	

<container>

	<div class="container" style=" min-width: 90vw;">
<br><br>

<div class="container" style="min-width: 90vw;">
<br><br><br>
<h1>Všechna SVJ</h1>


<a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#svjModal" title="Timto tlačítkem můžete přidat společenství vlastníků bytových jednotek." href=''>&nbsp; Přídat Společenství vlastníků &nbsp;</a></td>
<!-- Modal pridani svj-->
<div class="modal" id="svjModal" tabindex="-1">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Přidat Společenství vlastníků </h5>
       
      </div>
      <form id="solar_form" action='{% url "svj_add" %}' enctype="multipart/form-data" method="POST">
      	<div class="modal-body">
     {% load crispy_forms_tags %}
	
	{% csrf_token %}

    {{ form|crispy}}
	 
      <button type="submit" class="btn btn-success">Uložit</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss='modal'>Zrušit</button>
  </div>
</form>
    </div>
  </div>
</div>


<br><br><br>

	<center>
		<div class="tabulka">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Název SVJ</th>
			      <th scope="col">Adresa</th>
			      <th scope="col">Informace</th>
			      <th scope="col">Kontakt</th>   
			      <th scope="col">Aktivní</th>
			      <th scope="col">Jednotné <br>Odběrné<br>Místo</th>
			      <th scope="col">Elektroměr</th>
			      <th scope="col">Gsm Modul</th>
			      <th scope="col">Byt</th>

			      
			    </tr>
			  </thead>
			  <tbody>
			  	{% for svj in all_svj %}
			    	<tr>
				   
				      <td>{{svj.name}}</td>
				      <td>{{svj.address_street}} {{svj.address_orientation_number}} / {{svj.address_number_subscription}}, <br> {{svj.address_city}}, {{svj.address_postal_code}}</td>
				      
				      <td>
						<a type="button" data-bs-toggle="modal" data-bs-target="#infoModal" title="Kliknutím na tuto ikonu zobrazíte infromace IČO, DIČ, ČÍSLO ÚČTU.">
						  <img src="{% static 'images/icons/info.png'%}" style="width: 35px; height: 35px;"/>
						</a>

						<!-- Modal informace -->
						<div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Informace o {{svj.name}}</h5>
						        
						        
						      </div>
						      <div class="modal-body">
						        IČO: {{svj.ico}}
						        <br>DIČ: {{svj.tax_number}}
						        <br>ČÍSLO ÚČTU: {{svj.account_number}}
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
						      
						      </div>
						    </div>
						  </div>
						</div>
					</td>

					<td>
					  <a type="button" data-bs-toggle="modal" data-bs-target="#contactModal" title="Kliknutím na tuto ikonu zobrazíte kontaktní infromace. ADRESA, TELEFON, EMAIL">
						  <img src="{% static 'images/icons/contacts.png'%}" style="width: 35px; height: 35px;"/>
						</a>

					  <!-- Modal contact -->
						<div class="modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Informace o {{svj.name}}</h5>
						        
						        
						      </div>
						      <div class="modal-body">
						        EMAIL: {{svj.email}}
						        <br>TELEFON: {{svj.phone}}
						        <br>ADRESA:<br>
						        {{svj.address_street}} {{svj.address_orientation_number}} / {{svj.address_number_subscription}}, <br> {{svj.address_city}}, {{svj.address_postal_code}}
						        
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
						      
						      </div>
						    </div>
						  </div>
						</div>
					</td>



				

				      {% if svj.active == True %}
				      <th>	  <a type="button" data-bs-toggle="modal" data-bs-target="#activeModal" title="Kliknutím na tuto ikonu zobrazíte termíny adktivity OD - DO ">
						  <img src="{% static 'images/icons/check-mark.png'%}" style="width: 35px; height: 35px;"/>
						</a>

					  <!-- Modal active -->
						<div class="modal" id="activeModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Informace o {{svj.name}}</h5>
						        
						        
						      </div>
						      <div class="modal-body">
						        AKTIVNÍ OD: {{svj.active_from}}
						        
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
						      
						      </div>
						    </div>
						  </div>
						</div></th>

				      {% else %}

				       <th><a type="button" data-bs-toggle="modal" data-bs-target="#notactiveModal" title="Kliknutím na tuto ikonu zobrazíte termíny adktivity OD - DO ">
						  <img src="{% static 'images/icons/cross.png'%}" style="width: 35px; height: 35px;"/>
						</a>

					  <!-- Modal notactive -->
						<div class="modal" id="notactiveModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Informace o {{svj.name}}</h5>
						        
						        
						      </div>
						      <div class="modal-body">
						        AKTIVNÍ OD: {{svj.active_from}}
						        <br>
						        AKTIVNÍ DO: {{svj.active_to}}
						        
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
						      
						      </div>
						    </div>
						  </div>
						</div>
						</th>
				      {% endif %}
				      

				 
				  

				       <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení hlavních elektroměrech." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/meter.png' %}" style="width: 35px; height: 35px;" /></a>
				       </td>
				      </td>
				       <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení tohoto podružného elektroměru." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/smart-meter.png' %}" style="width: 35px; height: 35px;"/></a></td>
				      
				  	    <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení tohoto gsm modulu." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/gsm.png' %}" style="width: 35px; height: 35px;"/></a></td>
				     
				        <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení bytů." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/flat.png' %}" style="width: 35px; height: 35px;"/></a></td>


		     

				    
			    	</tr>
			    {% endfor %}
			  </tbody>
			</table>
    	</div>
	</center>
	</div>
<container>



	{% endblock %} 