{% extends 'elektromer_app/base.html' %}
	{% load static %}
	{% block content %}

	

<container>

	<div class="container" style=" min-width: 90vw;">
<br><br>

<div class="container" style="min-width: 90vw;">
<br><br><br>
<h1>Všechna SVJ</h1>


<a type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#svjModal" title="Timto tlačítkem můžete přidat společenství vlastníků bytových jednotek." href=''>&nbsp; Přídat Společenství vlastníků &nbsp;</a></td>

<div class="modal" id="svjModal" tabindex="-1">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Přidat Společenství vlastníků </h5>
       
      </div>
      <form id="solar_form" action='{% url "svj_add" %}' enctype="multipart/form-data" method="POST">
      	<div class="modal-body">
     {% load crispy_forms_tags %}
	
	{% csrf_token %}

    {{ form|crispy}}
	 
      <button type="submit" class="btn btn-success">Uložit</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss='modal'>Zrušit</button>
  </div>
</form>
    </div>
  </div>
</div>


<br><br><br>

	<center>
		<div class="tabulka">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Název SVJ</th>
			      <th scope="col">Adresa</th>
			      <th scope="col">Info</th>
			      <th scope="col">IČO</th>
			      <th scope="col">DIČ</th>
			      <th scope="col">Číslo účtu</th>
			      <th scope="col">Email</th>
			      <th scope="col">Telefon</th>
			      <th scope="col">Aktivní</th>
			      <th scope="col">od</th>
			      <th scope="col">do</th>
			      <th></th>
			      <th></th>
			      <th></th>
			      <th></th>
		
			     
				
			      
			  
				 

			      
			    </tr>
			  </thead>
			  <tbody>
			  	{% for svj in all_svj %}
			    	<tr>
				   
				      <td>{{svj.name}}</td>
				      <td>{{svj.address_street}} {{svj.address_orientation_number}} / {{svj.address_number_subscription}}, <br> {{svj.address_city}}, {{svj.address_postal_code}}</td>
				      
				      <td>
<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>
<div class="container">				      	
<a href="#" title="Dismissible popover" data-toggle="popover" data-trigger="focus" data-content="Click anywhere in the document to close this popover">click
<img src="{% static 'images/icons/info.png'%}" style="width: 35px; height: 35px;" /></a></td>
</div>




				      <td>{{svj.ico}}</td>
				      <td>{{svj.tax_number}}</td>

				      <td>{{svj.account_number}}
				      <td>{{svj.email}}</td>
				      <td>{{svj.phone}}</td>

				      {% if svj.active == True %}
				      <th style="color: green;">✔</th>

				      {% else %}

				      <th style="color: red;">x</th>

				      {% endif %}
				      

				      <th>{{svj.active_from}}</th>
				      
				      {% if svj.active == False %}

				      <th>{{svj.active_to}}</th>

				      {% else %}

				      <th> </th>

				      {% endif %}
				  

				       <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení hlavních elektroměrech." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/meter.png' %}" style="width: 35px; height: 35px;" /></a>
				       </td>
				      </td>
				       <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení tohoto podružného elektroměru." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/smart-meter.png' %}" style="width: 35px; height: 35px;"/></a></td>
				      
				  	    <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení tohoto gsm modulu." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/gsm.png' %}" style="width: 35px; height: 35px;"/></a></td>
				     
				        <td><a data-bs-toggle="tooltip" title="Timto tlačítkem můžete přejít k zobrazení bytů." href='{% url "svj" svj.id %}'><img src="{% static 'images/icons/flat.png' %}" style="width: 35px; height: 35px;"/></a></td>


		     

				    
			    	</tr>
			    {% endfor %}
			  </tbody>
			</table>
    	</div>
	</center>
	</div>
<container>




	{% endblock %} 